<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="defaultServer" value="RobLT\SS2017"/>
    <add key="defaultDatabase" value="TestDB"/>
  </appSettings>
</configuration>
